<div class="wrapper col-md-4 col-md-offset-2 col-sm-10">
  <h3>メッセージ一覧</h3>
  <% if @over_ten %>
    <%= link_to '以前のメッセージ', '?m=all' %>
  <% end %>
  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item">
          <div class="content">
            <div class="header"><strong><%= user.name %>さんからのメッセージ</strong><%= message.message_time %></div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <pre class="message_body"><%= message.body %></pre>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div>
      <%= f.submit "メッセージをおくる" %>
    </div>
  <% end %>
</div>
