<p><%= notice %></p>
<%= form_for(@topic, url: choose_new_or_edit) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= @topic.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputarea">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content, cols:40, rows: 10 %>
    <br>
    <%= f.fields_for :pictures, Picture.new do |picture_f| %>
      <%= picture_f.file_field :image %>
      <%= picture_f.text_field :title ,placeholder: 'title' %>
      <%= picture_f.text_field :alt , placeholder: 'alt' %>
    <% end %>
    <br>
  </div>
  <%= f.submit class: 'btn btn-success' %>
<% end %>

<%= link_to "投稿一覧に戻る", topics_path, class: 'btn btn-primary' %>
