<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <!-- <p><%= notice %></p> -->
    <h3>トピック一覧</h3>
    <%= link_to "投稿する", new_topic_path, class: 'btn btn-success newpost' %>
    <br>
    <% @topics.each do |topic|%>
      <div class="row">
        <%= link_to topic_path(topic) do %>
          <h4> 
            <strong><%= topic.title%>
              <% if topic.comments.count > 0 %>
                <%= "(コメント数：" + topic.comments.count.to_s + ")"%>
              <% end %>
            </strong> 
          </h4>
        <% end %>
        <!-- <p>タイトル:<%= topic.title %></p> -->
        <pre><%= topic.content %></pre>
        <% if topic.pictures.count > 0 %>
          <h3>(画像：<%=topic.pictures.count%>)</h3>
          <% topic.pictures.each do |picture| %>
            <%= image_tag("#{picture.image}", alt: picture.alt) %>
            <br>
          <% end %>
        <% else %>
          <p>画像は登録されていません</p>
        <% end %>
        <div class="dates">
          <p>投稿日:<%= topic.created_at %></p>
          <% if topic.created_at != topic.updated_at %>
            <!--<p>最終編集日:<%= topic.updated_at %></p>-->
            <p>編集済み</p>
          <% end %>
        </div>
        <p>投稿者:<%= topic.user.name %></p>
        <div class="profile_image">
          <%= profile_img(topic.user) if profile_img(topic.user) %>
        </div>
        <%= link_to "投稿を編集する", edit_topic_path(topic.id), class: 'btn btn-warning' %>
        <%= link_to "投稿を削除する", topic_path(topic.id), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-danger' %>
      </div>
    <% end %>

    <% if @topics.count > 2 %>
      <%= link_to "投稿する", new_topic_path, class: 'btn btn-success newpost' %>
    <% end %>
  </div>
</div>


<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top">▲</a></p>
</div>
