<!DOCTYPE html>
<html>
<head>
  <title>Friendbook</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">FriendsBook</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="<%= topics_path %>">タイムライン</a></li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
          
        </form>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><a><%= current_user.name %>さんがログインしています</a></li> 
            <li><a href="<%= users_path if user_signed_in? %>">ユーザー一覧</a></li>
          <% else %>
            <li><a>右のメニューからログインしてください</a></li> 
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'マイページ' ,edit_user_registration_path , class: 'dropdown-item' %><br></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %><br></li>
              <% else %>
                <li> <%= link_to 'ログイン', new_user_session_path, class: 'dropdown-item' %> </li>
                <li> <%= link_to 'サインアップ', new_user_registration_path, class: 'dropdown-item' %> </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <section class="main-header">
    <!-- <img src="<%= asset_path "fb.png" %>"> -->
    <p class="flash"><%= notice %><%= alert %></p>
  </section>

  <!--
  here comes the content from Ruby On Rails Program
  -->
  <div class="mainarea">
    <%= yield %>
  </div>
  <footer>
    <p>運営会社 KsK sun 株式会社</p>
    <p>© 2017- Copyright KsK sun Corp.</p>
  </footer>

</body>
</html>
