<!DOCTYPE html>
<html>
<head>
  <title>Friendbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="<%= root_path %>">FriendsBook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= topics_path %>">投稿</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ユーザー</a>
      <div class="dropdown-menu">
        <div class="dropdown-divider"></div>
        <% if user_signed_in? %>
          <p>
            <%= current_user.name %>がログインしています。
          </p>
          <%= link_to 'マイページ', edit_user_registration_path %><br>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          <% if current_user.admin? %><br>
            <%= link_to '管理者ページ', rails_admin_path %>
          <% end %>

        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: 'dropdown-item' %>
          <br>
          <%= link_to 'サインアップ', new_user_registration_path, class: 'dropdown-item' %>
        <% end %>
      </div>
    </li>
  </ul>

  <section class="main-header">
    <!-- <img src="<%= asset_path "fb.png" %>"> -->
    <p class="flash"><%= notice %><%= alert %></p>
  </section>

  <!--
  here comes the content from Ruby On Rails Program
  -->
  <%= yield %>
  <footer>
    <p>運営会社 KsK sun 株式会社</p>
    <p>© 2017- Copyright KsK sun Corp.</p>
  </footer>

</body>
</html>
